{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    {#    DESACTIVAMOS ESTA LINEA PARA QUE NO EJECUTE EL POST QUE RENDERIZA TODO EL DATATABLE#}
    {#    <script src="{% static 'product/js/list.js' %}"></script>#}
{% endblock %}
{% block columns %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Opciones</th>
    </tr>
{% endblock %}
{% block rows %}
    {% for pro in object_list %}
        <tr>
            <td>{{ pro.id }}</td>
            <td>{{ pro.name }}</td>
            {#            ACCEDEMOS A LA INSTANCIA DEL ATRIBUTO CON EL QUE TENEMOS LA RELACION#}
            <td>{{ pro.cate.name }}</td>
            {#            <td>{{ pro.get_name_cat }}</td>#}
            <td>{{ pro.pvp }}</td>
            <td><img src="{{ pro.get_image }}" class="img-fluid d-block mx-auto" style="width:30px"></td>
            <td>
                <a href="{% url 'erp:product_update' pro.id %}" class="btn  btn-warning btn-xs"><i
                        class="fa fa-edit"></i>
                </a>
                <a href="{% url 'erp:product_delete' pro.id %}" class="btn  btn-danger btn-xs"><i
                        class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{#No usaremos el JS de la plantilla en el template, puesto que usaremos la que se crea#}
{#en el js al cargar nuestra pagina#}

{#Desactivamos el JS para que tome el js que viene de la plantilla, el cual ya trae la integracion de nuestro data table#}
{#{% block javascript %}#}
{##}
{#{% endblock %}#}