{% extends 'list.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_list %}
    <script src="{% static 'client/js/list.js' %}"></script>
{% endblock %}
{% block columns %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>DNI</th>
        <th>Cumpleaños</th>
        <th>Direccion</th>
        <th>Sexo</th>
    </tr>
{% endblock %}
{% block rows %}
    {#    {% for cat in object_list %}#}
    {#        <tr>#}
    {#            <td>{{ cat.id }}</td>#}
    {#            <td>{{ cat.name }}</td>#}
    {#            <td> <strong>{{ cat.desc }}</strong></td>#}
    {#            <td>#}
    {#                <a href="{% url 'erp:category_update' cat.id %}" class="btn  btn-warning btn-xs"><i class="fa fa-edit"></i>#}
    {#                </a>#}
    {#                <a href="{% url 'erp:category_delete' cat.id %}" class="btn  btn-danger btn-xs"><i class="fa fa-trash"></i>#}
    {#                </a>#}
    {#            </td>#}
    {#        </tr>#}
    {#    {% endfor %}#}
{% endblock %}
{#SOBRESCRIBIMOS EL BLOCK DE VBUTTONS, YA QUE AQUI TENDRA  OTRO COMPORTAMIENTO#}
{% block buttons_list %}
    <a class="btn btn-warning text-dark btn-Test mr-2 btnAdd"><i
            class="fa fa-plus-square mr-2" aria-hidden="true"></i>Agregar</a>
    <a href="{{ url_pattern }}" class="btn btn-warning text-dark btn-Test"><i
            class="fa fa-refresh mr-2"></i>Actualizar</a>
{% endblock %}

{#No usaremos el JS de la plantilla en el template, puesto que usaremos la que se crea#}
{#en el js al cargar nuestra pagina#}
{% block javascript %}
    <!-- Modal -->
    <div class="modal fade" id="myModalClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form method="post" action="." enctype="multipart/form-data" id="form">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        {#                        LE DEJAMOS ID, PARA QUE PUEDA SER DINAMICO EL TITULO DEL MODAL, Y SU ICONO#}
                        <h5 class="modal-title" id="title-modal"><i
                                class="" aria-hidden="true"></i><span>PROBANDO</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input name="action" type="hidden" value="add">
{#                    ES NECESARIO MANDAR ESTE ID#}
                        <input name="id" type="hidden" value="0">
                        {% for field in form.visible_fields %}

                            <div class="form-group">
                                <label>{{ field.label }} </label>
                                {# De esta manera realizamos la misma funcion que con el for en el constructor del formulario:))                           #}
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>

                        {% endfor %}
                    </div>
                    <div class="modal-footer">
{#                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}