{% extends 'home.html' %}
{% block body %}
    <body class="hold-transition layout-top-nav">
        <div class="wrapper">
            {% include 'hzt/header.html' %}
            <div class="content-wrapper">
                {% block content %}
                    <p>HOLAA</p>

                {% endblock %}
            </div>
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            {% include 'footer.html' %}
        </div>
    </body>
{% endblock %}
