{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
    <!--===============================================================================================-->
    <!-- sweetaler -->
    <script src="{% static 'lib/sweetalert2-11.4.6/package/dist/sweetalert2.all.min.js' %}"></script>
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w" method="POST" action=".">
                {#                SE CREA ESTE CAMPO NEXT, PARA QUE LA VISTA LOFINFORMVIEW PUEDA RECIBIRLA, DE MANERA QUE SI LA PERSONA SE DESLOGUEO, PUEDA VOLVER A LA VISTA EN LA CUAL ESTABA... ES COMO, TE DESLOGUEAS DE UN LUGAR, PERO ESA RUTA SE GUARDA EN UNA VARIABLE Y SE MANDA A LA VIEW PARA QUE CUANDO UNA VEZ LOGUEADO ENTRES A LA PAGINA DONDE ESTABAS #}
                <input type="hidden" name="next" value="{{ next }}">
                {% csrf_token %}
                <span class="login100-form-title p-b-51">
						Login
					</span>


                <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                    {{ form.username | add_class:'input100' | attr:'placeholder:Usuario' }}
                    {#                    <input class="input100" type="text" name="username" placeholder="Username">#}
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    {{ form.password  | add_class:'input100' | attr:'placeholder:Contraseña' }}

                    {#                    <input class="input100" type="password" name="pass" placeholder="Password">#}
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Forgot?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button type="submit" class="login100-form-btn">
                        Iniciar sesión
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="application/javascript">
    {% if form.errors %}
        let errores = '';
        {% for field in form %}
            {% for error in field.errors %}
                errores += '{{ error }}\n'
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            errores += '{{ error }}\n'
        {% endfor %}
        Swal.fire(
            'Ha ocurrido un error',
            errores,
            'error'
        );
    {% endif %}
</script>
<div id="dropDownSelect1"></div>
{#MANEJO DE ERRORES#}


<!--===============================================================================================-->
<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'login/js/main.js' %}"></script>

</body>
</html>