{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'category/js/list.js' %}"></script>
{% endblock %}
{% block columns %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Opciones</th>
    </tr>
{% endblock %}
{% block rows %}
    {#    {% for cat in object_list %}#}
    {#        <tr>#}
    {#            <td>{{ cat.id }}</td>#}
    {#            <td>{{ cat.name }}</td>#}
    {#            <td> <strong>{{ cat.desc }}</strong></td>#}
    {#            <td>#}
    {#                <a href="{% url 'erp:category_update' cat.id %}" class="btn  btn-warning btn-xs"><i class="fa fa-edit"></i>#}
    {#                </a>#}
    {#                <a href="{% url 'erp:category_delete' cat.id %}" class="btn  btn-danger btn-xs"><i class="fa fa-trash"></i>#}
    {#                </a>#}
    {#            </td>#}
    {#        </tr>#}
    {#    {% endfor %}#}
{% endblock %}
{#No usaremos el JS de la plantilla en el template, puesto que usaremos la que se crea#}
{#en el js al cargar nuestra pagina#}
{% block javascript %}

{% endblock %}