{% load static %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-red elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="{% static 'img/shopping_cart_white_48dp.svg' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Sofenix</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{  request.user.get_image }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item ">
            <a href="#" class="nav-link">
                <img  class="nav-icon" src="{% static 'img/administrar.svg' %}">
              <p>
                Administrar
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'erp:category_list' %}" class="nav-link">
                <img class="nav-icon" src="{% static 'img/categoria.svg' %}">
                  <p> Categorias</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'erp:client_list' %}" class="nav-link">
                <img class="nav-icon" src="{% static 'img/clientes.svg' %}">
                  <p> Clientes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../../index3.html" class="nav-link">
                  <img class="nav-icon" src="{% static 'img/ventas.svg' %}">
                  <p> Ventas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'erp:product_list' %}" class="nav-link">
                  <img class="nav-icon" src="{% static 'img/productos.svg' %}">
                  <p> Productos</p>
                </a>
              </li>
            </ul>
          </li>
{#          <li class="nav-item">#}
{#            <a href="../widgets.html" class="nav-link">#}
{#              <i class="nav-icon fas fa-th"></i>#}
{#              <p>#}
{#                Widgets#}
{#                <span class="right badge badge-danger">New</span>#}
{#              </p>#}
{#            </a>#}
{#          </li>#}


{#          <li class="nav-item menu-open">#}
{#            <a href="#" class="nav-link">#}
{#              <i class="nav-icon fas fa-copy"></i>#}
{#              <p>#}
{#                Layout Options#}
{#                <i class="fas fa-angle-left right"></i>#}
{#                <span class="badge badge-info right">6</span>#}
{#              </p>#}
{#            </a>#}
{#            <ul class="nav nav-treeview">#}
{#              <li class="nav-item">#}
{#                <a href="../layout/top-nav.html" class="nav-link">#}
{#                  <i class="far fa-circle nav-icon"></i>#}
{#                  <p>Top Navigation</p>#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a href="../layout/top-nav-sidebar.html" class="nav-link">#}
{#                  <i class="far fa-circle nav-icon"></i>#}
{#                  <p>Top Navigation + Sidebar</p>#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a href="../layout/boxed.html" class="nav-link">#}
{#                  <i class="far fa-circle nav-icon"></i>#}
{#                  <p>Boxed</p>#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a href="../layout/fixed-sidebar.html" class="nav-link active">#}
{#                  <i class="far fa-circle nav-icon"></i>#}
{#                  <p>Fixed Sidebar</p>#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a href="../layout/fixed-sidebar-custom.html" class="nav-link">#}
{#                  <i class="far fa-circle nav-icon"></i>#}
{#                  <p>Fixed Sidebar <small>+ Custom Area</small></p>#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a href="../layout/fixed-topnav.html" class="nav-link">#}
{#                  <i class="far fa-circle nav-icon"></i>#}
{#                  <p>Fixed Navbar</p>#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a href="../layout/fixed-footer.html" class="nav-link">#}
{#                  <i class="far fa-circle nav-icon"></i>#}
{#                  <p>Fixed Footer</p>#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a href="../layout/collapsed-sidebar.html" class="nav-link">#}
{#                  <i class="far fa-circle nav-icon"></i>#}
{#                  <p>Collapsed Sidebar</p>#}
{#                </a>#}
{#              </li>#}
{#            </ul>#}
{#          </li>#}
{#          <li class="nav-header">EXAMPLES</l  i>#}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
