{% extends 'home.html' %}
{% block body %}
    <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {% include 'vtc/header.html' %}
        {% include 'vtc/aside.html' %}
        <div class="content-wrapper ">
            <div class="content  mx-auto mt-2">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
    {% block javascript %}

    {% endblock %}
    <script>
        {% if messages %}
            var html = '<p>';
            {% for message in messages %}
                html += '{{ message }}';
                {#< li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
            {% endfor %}
            html += '<p>';
            Swal.fire({
                icon: 'error',
                title: 'Error',
                html: html,
            })
        {% endif %}

    </script>
    </body>
{% endblock %}
