{% extends 'layout.html' %}
{#Necesario para poder agregar clases o atributos desde la vista#}
{% load widget_tweaks %}
{% block content %}
    <form method="post">
        <div class="card card-success ">
            <div class="card-header">
                <div class="container-fluid d-flex justify-content-lg-between align-items-center">
                    <h3 class="card-title"><i class='icon fas fa-list'></i> {{ title }}</h3>
                    <div>
                        <a href="{{ list_url }}" class="btn btn-danger btn-Test">Regresar</a>
                        <button type="submit" class="btn btn-danger btn-Test">Eliminar</button>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="card-body table-responsive p-0">
                    {% csrf_token %}
                    <h1>{{ name }}</h1>
                    {#                     Nos va a pemitir saber que accion se va a realizar#}
                    <input type="hidden" name="action" value="{{ action }}">
                </div>
            </div>
        </div>
    </form>
    <script>

        $('form').on('submit', function (e) {
            e.preventDefault()
            {#Obtiene a modo de diccionario los datos#}
            {#let params = $('form').serializeArray()#}
            let params = new FormData(this);
            console.log(window.location.pathname)
            ajax_confirm(window.location.pathname, params, function () {
                location.href = '{{list_url}}'
            }, "Eliminado", "¿Desea eliminarlo?")
        });

    </script>

{% endblock %}