{% extends 'layout.html' %}
{#Necesario para poder agregar clases o atributos desde la vista#}
{% load widget_tweaks %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="card card-success ">
            <div class="card-header">
                <div class="container-fluid d-flex justify-content-lg-between align-items-center">
                    <h3 class="card-title">
                        {% if action == 'add' %}
                            <i class='icon fas fa-plus'></i>
                        {% elif action == 'edit' %}
                            <i class='icon fas fa-edit'></i>
                        {% endif %}
                        {{ title }}</h3>


                    <div>
                        <a href="{{ list_url }}" class="btn btn-danger btn-Test">Regresar</a>
                        <button type="submit" id="save" class="btn btn-light btn-Test">Guardar</button>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="card-body table-responsive p-0">
                    {% csrf_token %}
                    {# Nos va a pemitir saber que accion se va a realizar#}
                    <input type="hidden" name="action" value="{{ action }}">
                    {# SI hay un error entonces...               #}
                    {% if form.errors %}
                        {# Iteramos Por cada field del form, y iteraremos sobre cada error de validacion de ese field                        #}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger fade in alert-dismissible show">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" style="font-size:20px">×</span>
                                    </button>
                                    <strong><i class="icon fas fa-ban"></i>Ha ocurrido un error con {{ field.label }}</strong>
                                    <p>{{ error }}</p>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {#Creamos un for, para recorrer los fields que nos llegan de la variale form  #}
                    {% for field in form.visible_fields %}

                        <div class="form-group">
                            <label>{{ field.label }} </label>
                            {# De esta manera realizamos la misma funcion que con el for en el constructor del formulario:))                           #}
                            {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                        </div>

                    {% endfor %}


                </div>
            </div>
        </div>
    </form>
    <script>
        {% if form.errors %}
            let errores = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errores += '{{ error }}\n'
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errores += '{{ error }}\n'
            {% endfor %}
            Swal.fire(
                'Ha ocurrido un error',
                errores,
                'error'
            );
        {% endif %}
        $('form').on('submit', function (e) {
            e.preventDefault()
            {#Obtiene a modo de diccionario los datos#}
            {#let params = $('form').serializeArray()#}
            {#NO HACE FALTA USAR SERIALIZE, AL PASARLE THIS, INDICAMOS QUE TOME LOS VALORES DE ESTE FORM#}
            let params = new FormData(this);

            let msj = '';
            let notificacion = null;
            let url = window.location.pathname
            {% if action == 'add' %}
                msj = 'Registro guardado';
                guardar_registro(url, params, function (){
                    location.href = '{{ list_url }}'
                }, msj);
            {% else %}
                msj = 'Registro editado'
                notificacion = '¿Estas seguro de editar el registro?'
                {#EJECTUAMOS UN DIALOG GENERICO, EL CUAL SOLO REQUIERE DE ESTOS PARAMETROS#}
                ajax_confirm(url, params, function () {
                    location.href = '{{ list_url }}'
                }, msj, notificacion);
            {% endif %}
        });
    </script>
{% endblock %}