{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    {% block head_list %}

    {% endblock %}

{% endblock %}
{% block content %}

    <div class="card card-success ">
        <div class="card-header">
            <div class="container-fluid d-flex justify-content-lg-between align-items-center">
                <h3 class="card-title"><i class='icon fas fa-list'></i> {{ title }}</h3>
                <div>
                    {% block buttons_list %}

                        <a href="{{ url_form }}" class="btn btn-warning text-dark btn-Test mr-2"><i
                                class="fa fa-plus-square mr-2" aria-hidden="true"></i>Agregar</a>
                        <a href="{{ url_pattern }}" class="btn btn-warning text-dark btn-Test"><i
                                class="fa fa-refresh mr-2"></i>Actualizar</a>
                        <button id="manda" class="btn btn-warning text-dark btn-Test"><i
                                class="fa fa-refresh mr-2"></i>Prueba
                        </button>
                    {% endblock %}

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap" id="example">
                    <thead>
                    {% block columns %}

                    {% endblock %}
                    </thead>
                    <tbody>
                    {% block rows %}

                    {% endblock %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="application/javascript">
        {#  CREA EL DATATABLE  #}
        $(function () {
            $('#example').DataTable({
                responsive: true,
                autoWidth: false
            });
        });
        $('#manda').click(function (e) {
            e.preventDefault()
            fm = new FormData()
            descarga = {
                download: 1,
                inven: 2
            }

            fm.append("library", "favorite")
            fm.append("movie[name]", "James Bond Skyfall")
            fm.append("movie[year]", "2012")

            fm.append("movie[screenshots][]", "dd")
            fm.append("movie[screenshots][]", "eee2")
            console.log(descarga)

            for (let [key, value] of fm.entries()) {
                console.log(`${key}: ${value}`);
            }
            var json = JSON.stringify(Object.fromEntries(fm));

            console.log(json)

        })
        {#    JQUERY CONFIRM#}
    </script>
{% endblock %}