{% extends 'layout.html' %}
{#Necesario para poder agregar clases o atributos desde la vista#}
{% load widget_tweaks %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/jquery-ui-1.13.1.custom/jquery-ui.min.css' %}">
    <script type="application/javascript" src="{% static 'lib/jquery-ui-1.13.1.custom/jquery-ui.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <script type="application/javascript" src="{% static 'lib/select2-4.0.13/js/select2.full.js' %}"></script>
    <script type="application/javascript" src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>


{% endblock %}


{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="card card-success ">
            <div class="card-header">
                <div class="container-fluid d-flex justify-content-lg-between align-items-center">
                    <h3 class="card-title">
                        <i class='icon fas fa-plus'></i>
                        {{ title }}
                    </h3>

                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Categorias</label>
                    {{ form.categories }}
                </div>
                <div class="form-group">
                    <label>Productos</label>
                    {{ form.products }}
                </div>
                <div class="form-group">
                    <label>Buscador</label>
                    {{ form.search }}
                </div>
            </div>
        </div>
    </form>
    <script>
        let select_products = $('select[name="products"]')
        let select_categories = $('select[name="categories"]')
        $(function () {
            select_categories.select2({
                theme: 'bootstrap4',
                language: 'es',
                placeholder: "Seleccion una categoria"
            });

            select_categories.on('change', function () {
                let id = $(this).val();


                select_products.html('')
                {#Creamos la variable que va  contener el codigo HTML#}
                {#let option = '<option value= "">------------</option>'#}
                {#alert(id)#}
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'producto_id',
                        'id': id
                    },
                    dataType: 'json',
                    //CON ESTO DEJA DEJA FUNCIONAR EL NORMAL
                    {#processData: false,#}
                    {#contentType: false#}
                }).done(function (data) {
                    if (data.error) {
                        mensaje_error(data.error)
                    } else {
                        select_products.select2({
                            theme: 'bootstrap4',
                            language: 'es',
                            data: data,
                            placeholder: "Seleccion un producto"
                        });
                        /*                        console.log(data)
                                                $.each(data, function (key, value) {
                                                    option += '<option value="' + value.id + '">' + value.name + '</option>'
                                                })
                                                select_products.html(option)
                        */
                    }
                }).fail(function (data) {
                }).always(function (data) {


                })
            })

            select_products.on('change', function () {
                {#Esto me trae la data que mando desde  mi view, puede resultar interesante ya que la almancena#}
                {#sin importar que pueda yo mandar desde mi vista#}
                var value = $(this).select2('data')
                let val = $(this).val()
                console.log(value)
                console.log(val)
            })
            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            $("select[name='search']").select2({
                theme: "bootstrap4",
                language: "es",
                ajax: {
                    delay: 250,
                    type: 'POST',
                    url: window.location.pathname,

                    data: function (params) {
                        var queryParameters = {
                            term: params.term,
                            action: "autocomplete"
                        };
                        return queryParameters
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                },
                placeholder: "Buscar por nombre",
                minimumInputLength: 1,

            })
        })
    </script>
{% endblock %}